* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav-logo {
    padding: 5px;
    margin: 10px;
}

.nav-menu {
    margin: auto;
}

.nav-item {
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
}

.nav-menu a:hover {
    border-bottom: 2px solid orange;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
    font-weight: bolder;
}

.footer {
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.table {
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}

.form {
    width: 100%;
}

input, select, textarea {
    width: 350px;
    height: 35px;
    padding: 5px;
}

select {
    margin-left: 0;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    height: 150px;
}

label, span {
    display: block;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

span {
    color: red;
    font-size: 12px;
}

.chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 10px auto;
}

.footer-item {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    min-height: 125px;
    padding: 20px;
    border-left: 5px solid white;
}

.footer-item p {
    padding: 15px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        display: block;
        margin: 5px 0;
    }
}