<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Task Tracker - Home</title>
        <div th:replace="~{layouts/styles :: #styles}"></div>
    </head>
    <body>
        <div th:replace="~{layouts/nav :: #nav}"></div>

        <main>
            <section class="section">
                <div>
                    <h1>My Tasks</h1>
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Task</th>
                            <th>Status</th>
                            <th>Deadline</th>
                            <th>Action</th>
                        </tr>
                        <tr th:each="task : ${tasks}">
                            <td th:text="${task.id}"></td>
                            <td th:text="${task.name}"></td>
                            <td th:text="${task.status.value}"></td>
                            <td th:text="${task.startDate}"></td>
                            <td>
                                <a href="#"><i class="bi bi-pencil-square"></i></a>
                                <a href="#"><i class="bi bi-eye"></i></a>
                                <a href="#"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </main>
    </body>
</html>
